<template>
    <b-container>
      <b-alert show variant="success">Home Component</b-alert>
      <b-img center :src="require('../assets/logo.png')"></b-img>
    </b-container>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'HomeView',
  components: { }
}
</script>
